article p {
    text-align: center;
    color: white;
    font-weight: 900;
    font-size: larger;
}

h1 {
    color: yellow;
    font-size: xx-large;
}
body{
    background-color: black;
}
h2{
    color: yellow;
}

.nav {
    background-color: white;
    overflow: hidden;
    text-align: center;
}
.nav a{
    color: black;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    font-size: 25px;
}
.nav a:hover{
    background-color: black;
    color: yellow;
}
.Calendar iframe{
    background-color: white;
}
